<%- if @image.errors.any? %>
  <div class="alert alert-danger">
    <h5 class="alert-heading">Error</h5>
  </div>
<% end %>

<div class="form-group">
  <%= form_for @image do |f| %>
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
    <%- if @image.errors[:description].any? %>
      <span class="badge badge-pill badge-danger">
        <%= @image.errors[:description].first %>
      </span>
    <% end %>
    <br>

    <%= f.label :picture %><br>
    <%= f.file_field :picture %><br>
    <br>

    <%= f.submit "Enviar", class: "btn btn-primary" %>
  <% end %>
</div>
